* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: block;
  font-family: Georgia;
}
/* Header */

header {
  background-color: #ffe500;
  text-align: center;
  display: block;
  padding: .3em;
}

h1 {
  padding: .2em .5em .3em;
  font-family: sigmar one;
  font-size: 3rem;
  color: #b20953;
}

/* Header Navigation */

.nav {
  margin: .2em .5em .3em;
  display: inline-block;
}

.btn {
  padding: .2em .5em .3em;
  border: 2px #b2a212 solid;
  border-radius: 4px;
  background-color: #b2a212;
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
}

.current {
  border-color: #b20953;
  background-color: #b20953;
}

.btn:hover {
  border-color: #cc1465;
  background-color: #cc1465;
}

/* Content */

/* section {
  padding: .2em .5em .3em;
} */

h2 {
  font-family: sigmar one;
  font-size: 1.875rem;
  color: #b20953;
  padding: .75em;
}

img {
  max-width: 100%;
  padding: 0 .75em;
}

p {
  padding: .75em;;
}

/* Footer */

footer {
  text-align: center;
  font-size: .75rem;
  background-color: #ffe500;
  padding: .75rem;
}
